<div class="jumbotron">
  <h1 class="display-4">
    Welcome to the Structural and Computational Biology Theme Group!
  </h1>
</div>
  <div class="card-group">
    <div class="card text-white bg-primary event-card">
      <div class="card-body">
        <div class="card-title">
          <b>Upcoming</b>
        </div>
        <div class="card-text">
          <p>Group: Schulz</p>
          <p>Date and Time: 9999</p>
          <p>Presenter: </p>
          <p>Title: </p>
        </div>
      </div>
    </div>
    <div class="card bg-light event-card">
      <div class="card-body">
        <div class="card-title">
          <b>Previous</b>
        </div>
        <div class="card-text">
          <p>Group: Schulz</p>
          <p>Date and Time: 9999</p>
          <p>Presenter: </p>
          <p>Title: </p>
        </div>
      </div>
    </div>
  </div>


